name: IntegrationTests

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true

permissions:
  contents: read
   
jobs:     
  ci:
    name: Run IntegrationTests
    runs-on: ubuntu-latest
        
    steps:    
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
                  
      - name: Setup .NET 6 SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.x

      - name: Run Integration Tests
        run: DOTNET_ENVIRONMENT=${{ inputs.environment }} dotnet test --configuration Release --filter "FullyQualifiedName~IntegrationTests" 

